@model e_Teretana.Models.DbClan

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DbClan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Clanarina" class="control-label"></label>
                <select asp-for="Clanarina" class="form-control"></select>
                <span asp-validation-for="Clanarina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumUclanjivanja" class="control-label"></label>
                <input asp-for="DatumUclanjivanja" class="form-control" />
                <span asp-validation-for="DatumUclanjivanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojPosjeta" class="control-label"></label>
                <input asp-for="BrojPosjeta" class="form-control" />
                <span asp-validation-for="BrojPosjeta" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrenutnoPrisutan" /> @Html.DisplayNameFor(model => model.TrenutnoPrisutan)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
