@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
@model DbKorisnik
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Naslovna clan</title>
    <link rel="stylesheet" href="css/assets3/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/assets3/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="css/assets3/css/sidebar.css">
    <link rel="stylesheet" href="css/assets3/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
body {
  font-family: "Lato", sans-serif;
}

        .sidenav {
            height: 100%;
            width: 180px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #B2B2FF;
            overflow-x: hidden;
            padding-top: 20px;
        }

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
}

        .sidenav a:hover {
            color: #ffc9c9;
        }

.main {
  margin-left: 180px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

    </style>
</head>

<body>
    @{
        var novosti = ViewData["novosti"] as List<Novost>;
        var username = ViewData["username"] as string;

    }
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                            <div class="sidenav">
                                <a class="sidebar-brand"> <a class="text-white" >@username</a></a>
                                <a <a href="/Clan/Index/@Model.DbKorisnikID">Novosti</a></a>
                                <a> <a class="text-dark" href="#">Iznajmi opremu</a></a>
                                <a> <a class="text-dark" href="#">Zauzmi opremu</a></a>
                                <a> <a href="/Clan/PrijavaTreninga/@Model.DbKorisnikID">Prijavi trening</a></a>
                                <a> <a href="/Clan/Profil/@Model.DbKorisnikID">Posjeti profil</a></a>
                                <a><a href="/Clan/Postavke/@Model.DbKorisnikID">Postavke profila</a></a>
                            </div>
                </div>
                <div class="col-md-6 col-lg-9 col-xl-9">
                    <ul class="list-group">
                        @{ for (int i = 0; i < novosti.Count; i++)
                            {
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#"><img class="img-fluid" src="@Url.Content("~/css/jerry.png")"></a>
                                    <h3 class="name">@novosti[i].Naslov </h3>
                                    <p class="description">@novosti[i].Tekst</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </li>
                                }
                            }
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="css/assets3/js/jquery.min.js"></script>
    <script src="css/assets3/bootstrap/js/bootstrap.min.js"></script>
    <script src="css/assets3/js/Sidebar-Menu.js"></script>
</body>

</html>
