<!DOCTYPE html>
@model Clan
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="css/assets5/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/assets5/css/Data-Table-1.css">
    <link rel="stylesheet" href="css/assets5/css/Data-Table.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="css/assets5/css/sidebar-1.css">
    <link rel="stylesheet" href="css/assets5/css/Sidebar-Menu-1.css">
    <link rel="stylesheet" href="css/assets5/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="css/assets5/css/sidebar.css">
    <link rel="stylesheet" href="css/assets5/css/styles.css">
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 180px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #B2B2FF;
            overflow-x: hidden;
            padding-top: 20px;
        }

            .sidenav a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 25px;
                color: #000000;
                display: block;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

        .main {
            margin-left: 180px; /* Same as the width of the sidenav */
            font-size: 20px; /* Increased text to enable scrolling */
            padding: 0px 10px;
        }
    </style>
</head>

<body>
    @{
        var treninzi = ViewData["treninzi"] as Dictionary<Trening, Trener>;
        var clan = ViewData["clan"] as DbClan;
    }
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="sidenav">
                        <a class="sidebar-brand"> <a class="text-dark" href="#">Korisničko ime</a></a>
                        <a <a href="/Clan/Index/@clan.DbClanID">Novosti</a></a>
                        <a> <a class="text-dark" href="#">Iznajmi opremu</a></a>
                        <a> <a class="text-dark" href="#">Zauzmi opremu</a></a>
                        <a> <a href="/Clan/PrijavaTreninga/@clan.DbClanID">Prijavi trening</a></a>
                        <a> <a href="/Clan/Profil/@clan.DbClanID">Posjeti profil</a></a>
                        <a><a href="/Clan/Postavke/@clan.DbClanID">Postavke profila</a></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-9 col-xl-9">
                    <h1>Prijavi trening</h1>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Aktivni treninzi</h4><table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Termin održavanja</th>
                                                <th>Kapacitet</th>
                                                <th>Trener</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ foreach (KeyValuePair<Trening, Trener> t in treninzi)
                                                {
                                                    <tr>
                                                        <td>@t.Key.DatumOdrzavanja</td>
                                                        <td>@t.Key.Kapacitet</td>
                                                        <td>@t.Value.Ime @t.Value.Prezime</td>
                                                        <td><a href="/Clan/Profil/@clan.DbClanID">Pogledaj detalje</a></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="css/assets5/js/jquery.min.js"></script>
    <script src="css/assets5/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="css/assets5/js/Sidebar-Menu.js"></script>
</body>

</html>
