<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="css/assets2/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/assets2/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="css/assets2/css/styles.css">
</head>

<body>
    <div class="login-clean" style="width:50%">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="illustration"></div>
            <div class="form-group"><input class="form-control" type="text" name="korisnickoIme" placeholder="Korisničko Ime"></div>
            <div class="form-group"><input class="form-control" type="password" name="sifra" placeholder="Šifra"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Prijava</button></div><a class="forgot" href="#">Zaboravljena šifra?</a>
        </form>
    </div>
    <script src="css/assets2/js/jquery.min.js"></script>
    <script src="css/assets2/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>

@if (ViewBag.Log != null)
{
    <h4>
        @ViewBag.Log
    </h4>
}